 * {
   box-sizing: border-box;
 }

 html, body {
   color: #444;
   font-family: "Helvetica", "Verdana", sans-serif;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   height: 100%;
   margin: 0;
   padding: 0;
   width: 100%;
 }

 html {
   overflow: hidden;
   overflow-y: scroll;
 }

 body {
   align-content: stretch;
   align-items: stretch;
   background: #ececec;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-start;
   overflow-y: auto;
 }

 /**
   * Header
   */

 .header {
   align-content: center;
   align-items: stretch;
   background: #000000;
   box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
   color: #fff;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   font-size: 20px;
   height: 56px;
   justify-content: flex-start;
   padding: 0px 16px 0px 16px;
   position: fixed;
   transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
   width: 100%;
   will-change: transform;
   z-index: 1;
 }

 .header h1 {
   flex: 1;
   font-size: 20px;
   font-weight: 400;
   margin: auto;
 }

 .header button {
   border: none;
   cursor: pointer;
   height: 24px;
   margin: 16px;
   opacity: 0.54;
   outline: none;
   overflow: hidden;
   text-indent: -30000px;
   transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
   width: 24px;
 }

 .header #butRefresh {
   background: url(/images/refresh.svg) center center no-repeat;
 }

 .header #butInstall {
   background: url(/images/install.svg) center center no-repeat;
 }

 /**
   * Loading spinner
   */

 .card-spinner {
   background-color: rgba(255, 255, 255, 0.8);
   height: 100%;
   margin-left: -16px;
   margin-top: -16px;
   position: absolute;
   width: 100%;
 }

 .card-spinner svg {
   left: 50%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .card-spinner svg circle {
   animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
   box-sizing: border-box;
   stroke: #3f51b5;
   stroke-width: 3px;
   transform-origin: 50%;
 }

 @keyframes rotate {
   from {
     transform: rotate(0);
   }
   to {
     transform: rotate(450deg);
   }
 }

 @keyframes line {
   0% {
     stroke-dasharray: 2, 85.964;
     transform: rotate(0);
   }
   50% {
     stroke-dasharray: 65.973, 21.9911;
     stroke-dashoffset: 0;
   }
   100% {
     stroke-dasharray: 2, 85.964;
     stroke-dashoffset: -65.973;
     transform: rotate(90deg);
   }
 }

 /**
   * Icons
   */

 .icon {
   background-repeat: no-repeat;
   background-size: contain;
 }

 .icon.add {
   background-image: url("/images/add.svg");
 }

 /**
   * Main body
   */

 .main {
   flex: 1;
   overflow-x: hidden;
   overflow-y: auto;
   padding-top: 60px;
 }

 .main .fab {
   background-color: #000011;
   border-radius: 50%;
   bottom: 1rem;
   height: 56px;
   padding: 12px;
   position: fixed;
   right: 1rem;
   width: 56px;
   z-index: 1000;
 }

 .main .fab .icon {
   display: inline-block;
   height: 100%;
   width: 100%;
 }

 /**
   * Add dialog
   */

 .dialogContainer {
   background: rgba(0, 0, 0, 0.57);
   height: 100%;
   left: 0;
   opacity: 0;
   pointer-events: none;
   position: fixed;
   top: 0;
   transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
   width: 100%;
   will-change: opacity;
 }

 .dialogContainer.visible {
   opacity: 1;
   pointer-events: auto;
 }

 .error {
   color: #aa2131;
 }

 .dialog {
   background: #001;
   color: #bbb;
   border-radius: 2px;
   box-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48);
   left: 50%;
   min-width: 280px;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%) translateY(30px);
   transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
 }

 .dialog>div {
   padding-left: 24px;
   padding-right: 24px;
 }

 .dialog-title {
   font-size: 1.25em;
   padding-top: 20px;
 }

 .dialog-body {
   padding-bottom: 24px;
   padding-top: 20px;
 }

 .dialog-body select {
   width: 100%;
 }

 .dialog-buttons {
   color: #bbb !important;
   float: right;
   padding-bottom: 16px;
   padding-right: 17px !important;
 }

 .dialog .button {
   color: #bbb !important;
   background: transparent;
   border: none;
   font-size: 14px;
   text-transform: uppercase;
 }

 /**
   * Weather forecast card
   */

 .calendar-card {
   background: #fff;
   border-radius: 2px;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
   box-sizing: border-box;
   margin: 16px;
   padding: 16px;
   position: relative;
 }

 .remove-appointment, .next-day, .prev-day, .icon-edit {
   background-color: transparent;
   color: #bbb;
   border: none;
   float: right;
   font-size: x-large;
 }

 .calendar-card .location {
   font-size: 1.75em;
 }

 .calendar-card .date, .calendar-card .description {
   font-size: 1.25em;
 }

 .calendar-card .current {
   display: flex;
 }

 .calendar-card .current .icon {
   height: 128px;
   width: 128px;
 }

 .calendar-card .current .visual {
   display: flex;
   font-size: 4em;
 }

 .calendar-card .current .visual .scale {
   font-size: 0.5em;
   vertical-align: super;
 }

 .calendar-card .current .visual, .calendar-card .current .description {
   flex-grow: 1;
 }

 .calendar-card .current .description .label {
   color: #666;
 }

 .calendar-card .future {
   display: flex;
 }

 .calendar-card .future .oneday {
   flex-grow: 1;
   text-align: center;
 }

 .calendar-card .future .oneday .icon {
   height: 64px;
   margin-left: auto;
   margin-right: auto;
   width: 64px;
 }

 .calendar-card .future .oneday .temp-high, .calendar-card .future .oneday .temp-low {
   display: inline-block;
 }

 .calendar-card .future .oneday .temp-low {
   color: #666;
 }

 /**
   * Media query to adjust size of content for small screens
   */

 @media (max-width: 450px) {
   .calendar-card .date, .calendar-card .description {
     font-size: 0.9em;
   }
   .calendar-card .current .icon {
     height: 96px;
     width: 96px;
   }
   .calendar-card .current .visual {
     font-size: 3em;
   }
   .calendar-card .future .oneday .icon {
     height: 32px;
     width: 32px;
   }
 }

 * {
   box-sizing: border-box;
 }

 body {
   background-color: #000011;
   background-image: linear-gradient(-222deg, #000011, #454545);
 }

 .container {
   width: 95%;
   margin: auto;
 }

 .dark {
   margin-left: 65px;
 }

 .calendar {
   width: 100%;
   box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
   font-family: "Roboto", sans-serif;
   padding: 20px 20px;
   margin: auto;
   color: #252a30;
   display: inline-block;
 }

 .calendar_header {
   border-bottom: 2px solid rgba(0, 0, 0, 0.08);
 }

 .header_copy {
   color: #A39D9E;
   font-size: 20px;
 }

 .calendar_plan {
   margin: 20px 0 40px;
 }

 .cl_plan {
   width: 100%;
   height: 140px;
   background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
   box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
   padding: 30px;
   color: #fff;
 }

 .cl_copy {
   font-size: 20px;
   margin: 20px 0;
   display: inline-block;
 }

 .cl_add {
   display: inline-block;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #fff;
   cursor: pointer;
   margin: 0 0 0 65px;
   color: #c2c2c2;
   padding: 11px 13px;
 }

 .calendar_events {
   color: #A39D9E;
 }

 .ce_title {
   font-size: 14px;
 }

 .event_item {
   margin: 18px 0;
   padding: 5px;
   cursor: pointer;
 }

 .event_item:hover {
   background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
   box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
 }

 .event_item:hover .ei_Dot {
   background-color: #fff;
 }

 .event_item:hover .ei_Copy, .event_item:hover .ei_Title {
   color: #fff;
 }

 .ei_Dot, .ei_Title {
   display: inline-block;
 }

 .ei_Dot {
   border-radius: 50%;
   width: 10px;
   height: 10px;
   background-color: #A39D9E;
   box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
 }

 .dot_active {
   background-color: #FF8494;
 }

 .ei_Title {
   margin-left: 10px;
   color: #363b41;
 }

 .ei_Copy {
   font-size: 12px;
   margin-left: 27px;
 }

 .dark {
   background-image: linear-gradient(-222deg, #000011, #454545);
   color: #fff;
 }

 .dark .header_title, .dark .ei_Title, .dark .ce_title {
   color: #fff;
 }

 .input-append .add-on, .input-prepend .add-on {
   display: inline-block;
   width: auto;
   height: 25px;
   min-width: 16px;
   padding: 4px 5px;
   font-size: 14px;
   font-weight: normal;
   line-height: 20px;
   text-align: center;
   text-shadow: 0 1px 0 #000;
   background-color: #444;
   border: 1px solid #222
 }

 input[type="text"] {
   display: inline-block;
   height: 25px;
   padding: 4px 6px;
   margin-bottom: 10px;
   font-size: 14px;
   line-height: 25px;
   color: #555;
   vertical-align: middle;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
 }

 .container {
   display: inline-block;
   cursor: pointer;
 }

 .bar1, .bar2, .bar3 {
   width: 35px;
   height: 5px;
   background-color: #555;
   margin: 6px 0;
 }

 /* The side navigation menu */

 .sidenav {
   height: 100%;
   /* 100% Full-height */
   width: 0;
   /* 0 width - change this with JavaScript */
   position: fixed;
   /* Stay in place */
   z-index: 2;
   /* Stay on top */
   top: 0;
   /* Stay at the top */
   left: 0;
   background-color: #000;
   /* Black*/
   overflow-x: hidden;
   /* Disable horizontal scroll */
   padding-top: 60px;
   /* Place content 60px from the top */
   transition: 0.5s;
   /* 0.5 second transition effect to slide in the sidenav */
 }

 /* The navigation menu links */

 .sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }

 /* When you mouse over the navigation links, change their color */

 .sidenav a:hover {
   color: #f1f1f1;
 }

 /* Position and style the close button (top right corner) */

 .sidenav .closebtn {
   position: absolute;
   top: 12px;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }

 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */

 #main {
   transition: margin-left .5s;
   padding: 20px;
 }

 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

 @media screen and (max-height: 450px) {
   .sidenav {
     padding-top: 15px;
   }
   .sidenav a {
     font-size: 18px;
   }
 }

 .logout {
   position: absolute;
   bottom: 12px;
   font-size: 20px !important;
 }